{% extends 'base.html' %}
{% load static %}
{% block content %}
{% load bootstrap3 %}
{% load render_table from django_tables2 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.0/semantic.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.0/semantic.min.css">
<h2>Результат</h2>
    <form method="post">
    {% csrf_token %}
    <br>
    {{ form }}
</form>

<h2>Результаты</h2>

<div id="results-container">
<div id="results-table" >
{% if filter %}
    <form action="" method="get" class="form form-inline">
        {% bootstrap_form filter.form layout='inline' %}
        {% bootstrap_button 'filter' %}
    </form>
{% endif %}
<br>
{% render_table table 'django_tables2/semantic.html' %}
</div>
</div>
{% endblock %}

