<!DOCTYPE html>
<html lang='en'>
<head>
{% load static %}
{% load bootstrap3 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{page.title}}</title>
    <link href="{% static 'styles/'%}{{page.stylesheet}}" rel="stylesheet" type="text/css">
</head>
<body>

<!--Меню-->
<nav class="navbar expand-lg navbar-fixed-top navbar-inverse" id="navbar">
  <div class="container-fluid">
    <div class="navbar-header">
        <a class="navbar-brand" href="/admin" target="_blank" rel="noopener noreferrer">Admin Panel</a>
    </div>
    <ul class="nav navbar-nav">
    {% for page in pages %}
        <li class="{% if request.path|slice:"1:-1" == page.nav%}active{% else %}{% endif %}" >
            <a href="{% url 'page' nav=page.nav %}" >{{ page.title }}</a>
        </li>
    {% endfor %}
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
    <li class="{% if request.path == '/guessing/' or request.path == '/guessing/table'%}active{% else %}{% endif %}">
        <a href="/guessing">Задача 1</a>
    </li>
    <li class="{% if request.path == '/sign/' or request.path == '/sign/table'%}active{% else %}{% endif %}">
        <a href="/sign">Задача 2</a></li>
    </ul>
  </div>
</nav>

<div class="ui container" style="padding-top: 5%">
<!--Если у страницы есть оглавление, отобразить его -->
{% if page.header is not None %}
<h2 id="1"> {{ page.header }}</h2>
{% endif %}
<!--Если у страницы есть форма, то отобразить её-->
{% if page.has_form %}
    <div class="content">
    <form method="post" action="{{request.path}}" id="" class="form-horizontal">
        <p id="form-message"></p>
        {% csrf_token %}
        {{ form.as_table}}

        <input type="submit" class="btn btn-primary" style="width: 15%"></input>
    </form>
    </div>
{% endif %}
<!--Отобразить контент текущей страницы-->
{{ rendered_content }}
<!--Для страниц не из БД-->
{% block content %}
{% endblock %}
</div>

</body>
{% if page.javascript %}<script src="{% static 'scripts/'%}{{ page.javascript }}"></script>{% endif %}
</html>
