{% extends 'common/base.html' %}
{% load static %}
{% block content %}
<link href="{% static 'styles/main.css'  %}" rel="stylesheet" type="text/css">

 <h2>Welcome to the main page!</h2>
    <img src="{% static 'images/kali.png'  %}" class="center" width="30%">

    <p id="script">This page does not have any meaning, but it is created for educational purposes and may contain educational and entertaining content. </p>
    <div class="actions">
        <button class="button" id="helloButton">Introduce yourself</button>
        <button class="button" id="byeButton">I don't like this page!</button>
        <button class="button" id="askButton">Author</button>
        <button class="button" id="gayButton">I like this page!</button>
        <button class="button" id="clearButton">Clear this all!</button>
    </div>

<script src="{% static 'scripts/main.js' %}"></script>

{% endblock %}