{% extends 'common/base.html' %}
{% load static %}
{% block content %}
<link href="{% static 'styles/form.css'  %}" rel="stylesheet" type="text/css">
<div class="page-content">
<h2>Send your opinion about Linux Distro!</h2>

<form action="/opinion" method="post" id="back-distros-form">
    <p id="form-message"></p>
    {% csrf_token %}
    {{ form }}
    <button type="submit" class="button">Send us your opinion!</button>
</form>
<br>
<div class="table">
<table id="distros-table">
    <thead>
    <tr>
        <th>Name of Linux Distro</th>
        <th>Publish date</th>
        <th>Rating of Distro</th>
        <th>Impressions </th>
    </tr>
    </thead>
    <tbody>
    {% for item in query_results %}
    <tr>
        <td>{{ item.distro_name }}</td>
        <td>{{ item.date }}</td>
        <td>{{ item.rate }}</td>
        <td>{{ item.opinion }}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
</div>
</div>
{% endblock %}